body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #EDF2F9;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.circle-timer {
  width: 240px; /* 20% increase from 200px */
  max-width: 240px;
  height: 240px; /* 20% increase from 200px */
  max-height: 240px;
  margin-bottom: 10px;
}

#time {
  fill: #333;
}

text {
  font-size: 32px;
  font-weight: 300;
}

#start-btn, #stop-btn {
  width: 75%;
  height: 4rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

#start-btn {
  background-color: #1E9B1B;
}

#start-btn:hover {
  background-color: #015500;
}

#stop-btn {
  background-color: #cc2e2e;
}

#stop-btn:hover {
  background-color: #810d0d;
}

#sec-input {
  font-size:30px;
  border: 1px solid #e8e8e8;
  margin: 0 0 10px 0;
  padding: 8px;
  width:5rem;
  border-radius:4px;
  text-align: center;
}

#sec-input::-webkit-inner-spin-button,
#sec-input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin:0;
}

#sec-input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

#sec-label {
  margin: 10px 0 0 0;
  font-size:14px;
}

.input-adjust {
  border: none;
  border-radius: 5px;
  background-color: #0369EF;
  color:white;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 25px;
  margin: 0 0 10px 0;
}

.input-adjust:hover {
  background-color: #003479;
}

.add-action {
  border: none;
  border-radius: 5px;
  background-color: #0369EF;
  color:white;
  cursor: pointer;
  padding: 2.4rem 2rem;
  width: auto; 
  margin: 0 auto;
}

#add-rest {
  float: right;
}

.add-action:hover {
  background-color: #003479;
}

#queue {
  margin: 15px 4px 0 4px;
}

.queue-item {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  max-width:100%;
  margin: 10px 0;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
 border-radius: 5px;
  padding: 8px 6px 8px 6px;
  background-color: #e0e0e0;
}

.queue-item.active {
  background-color: #cddcff; /* Highlight active item */
}

.queue-item.complete {
  background-color: #c0f1bf; /* Highlight completed item */
}

.remove-action{
  color: #d36666;
}

.drag-action {
  color: #4b4b4b;
  cursor: pointer;
}

.remove-action {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.repeat-queue-container {
  margin: 10px 0 0 0;
  background-color: #767676; /* Default background color when not checked */
  color: white;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  padding: 10px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repeat-queue-container.checked, .repeat-queue-container.checked * {
  font-weight: 700;
  color: white; /* Icon color when checked */
  background-color: #1E9B1B; /* Background color when checked */
}

.repeat-queue-container label {
  cursor: pointer;
}

#repeat-queue {
  cursor: pointer;
  user-select: none;
  display: none;
}