body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #EDF2F9;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.circle-timer {
  width: 240px; /* 20% increase from 200px */
  max-width: 240px;
  height: 240px; /* 20% increase from 200px */
  max-height: 240px;
  margin-bottom: 10px;
}

#time {
  fill: #333;
}

text {
  font-size: 32px;
  font-weight: 300;
}

#start-btn, #stop-btn {
  width: 75%;
  height: 4rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 5px;
}

#start-btn {
  background-color: #1E9B1B;
}

#stop-btn {
  background-color: rgb(198, 77, 77);
}

#sec-input {
  font-size:30px;
  border: 1px solid #e8e8e8;
  margin: 0 0 10px 0;
  padding: 8px;
  width:5rem;
  border-radius:4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#sec-label {
  margin: 10px 0 0 0;
  font-size:14px;
}

.input-adjust {
  border: none;
  border-radius: 5px;
  background-color: #b8b8b8;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 25px;
  margin: 0 0 10px 0;
}

.add-action {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 2.4rem 2rem;
  width: auto; 
  margin: 0 auto;
}

#add-rest {
  float: right;
}

.add-action:hover {
  background-color: #e8e8e8;
}

#queue {
  margin: 15px 4px 0 4px;
}

.queue-item {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  max-width:100%;
  margin: 10px 0;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
 border-radius: 5px;
  padding: 8px 6px 8px 6px;
  background-color: #e0e0e0;
}

.queue-item.active {
  background-color: #7093e6; /* Highlight active item */
}

.queue-item.complete {
  background-color: #a5eaa4; /* Highlight completed item */
}

.remove-action {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

